<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <title>Harpoon</title>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="cards.css" />
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="global.css">

  </head>
  <body>
    
    <nav>
        <div class="logo"><a href="#" class="tittle">harpoon</a></div>
        <ul>
          <li><a href="index.html" class="active">Inicio</a></li>
          <li>
            <a href="https://harpoon.digital/" target="_blank">Saiba mais</a>
          </li>
        </ul>
      </nav>

      <h1 class="reveal-h1">Nossos novos clientes</h1>

    <div class="container">
      <div class="card card-1">
      
        <div class="card-header">
          <img src="../img/mulher-50.jpeg" class="card-img" />
        </div>
       
        <div class="card-body">
          <h2 class="card-titulo">Maria da Silva</h2>
          <h3 class="card-subtitulo">idade: 50</h3>
          <p class="card-texto">
            Tem filhos: Não.
          </p>
        </div>
      
      </div>
     
      <div class="card card-2">
        
        <div class="card-header">
          <img src="../img/mulher-29.jpeg" class="card-img" />
        </div>
      
        <div class="card-body">
          <h2 class="card-titulo">Joana Pereira</h2>
          <h3 class="card-subtitulo">idade: 29</h3>
          <p class="card-texto">
            Tem filhos: Sim. 
          </p>
        </div>
      
      </div>
    
      <div class="card card-3">
       
        <div class="card-header">
          <img src="../img/mulher-43.jpeg" class="card-img" />
        </div>
      
        <div class="card-body">
          <h2 class="card-titulo">Nathalia Melo</h2>
          <h3 class="card-subtitulo">idade: 43</h3>        
          <p class="card-texto">
            Tem filhos: Sim.
          </p>
        </div>

      </div>
      <div class="card card-1">
        <div class="card-header">
          <img src="../img/velho.jpeg" class="card-img" />
        </div>
  
        <div class="card-body">
          <h2 class="card-titulo">Marcelo Campo</h2>
          <h3 class="card-subtitulo">idade: 75</h3>
          <p class="card-texto">
            Tem filhos: Sim.
          </p>
        </div>
    
    </div>

    <footer>
        <div class="footer-base">
          <div class="row-footer">
            <div class="footer-ol">
              <h4>Empresa</h4>
              <ul>
                <li>
                  <a
                    href="https://harpoon.digital/about"
                    target="_blank"
                    class="alink"
                    >Sobre o harpoon</a
                  >
                </li>
                <li>
                  <a
                    href="https://harpoon.digital/#product"
                    target="_blank"
                    class="alink"
                    >O produto</a
                  >
                </li>
                <li>
                  <a
                    href="https://abm-hml.bowe.com.br/aws/terms"
                    target="_blank"
                    class="alink"
                    >Pólitica de Privacidade</a
                  >
                </li>
                <li>
                  <a
                    href="https://harpoon.digital/contact"
                    target="_blank"
                    class="alink"
                    >Fale com um especialista</a
                  >
                </li>
              </ul>
            </div>
        
            <div class="footer-ol">
              <h4>Obter Ajuda</h4>
              <ul>
                <li>
                  <a
                    href="https://harpoon.digital/faq"
                    target="_blank"
                    class="alink"
                    >FAQ</a
                  >
                </li>
                <li>
                  <a
                    href="https://bowe.com.br/blog/categorias/abm/"
                    target="blank"
                    class="alink"
                    >Conteúdos exclusivos</a
                  >
                </li>
              </ul>
            </div>
           
            <div class="footer-ol">
              <h4>Se Cadastre</h4>
              <div class="form-sub">
                <form>
                  <input
                    type="email"
                    placeholder="Digite o seu e-mail"
                    required
                  />
                  <button>Cadastrar</button>
                </form>
              </div>
            
              </div>
            </div>
          </div>
        </div>
      </footer>

<script src="script.js" defer></script>
  </body>
 
</html>
